<% content_for :header do %>
  <h1>Log in</h1>
<% end %>

<% content_for :content do %>
  <%= form_tag sessions_path do %>
    <p>
      <%= label_tag :email %><br />
      <%= text_field_tag :email, params[:email] %>
    </p>
    <p>
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </p>
    <p>
      <%= label_tag :remember_me %><br />
      <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    </p>
    <p class="actions"><%= submit_tag "Log in" %></p>
  <% end %>
<% end %>
