<p id="notice"><%= notice %></p>

<p>
  <b>Color one:</b>
  <%= @problem.color_one %>
</p>

<p>
  <b>Color two:</b>
  <%= @problem.color_two %>
</p>

<p>
  <b>Color three:</b>
  <%= @problem.color_three %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @problem.difficulty %>
</p>

<p>
  <b>Is live:</b>
  <%= @problem.is_live %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
