<% content_for :content do %>
  <h4 id="account-manage-title">Change your password</h4>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <p> <%= f.password_field :password, :id => 'password', :placeholder => 'New password' %></p>

    <p> <%= f.password_field :password_confirmation, :id => 'password_confirmation', :placeholder => 'Confirm new password' %></p>

    <p><%= f.submit "Change my password" %></p>
  <% end %>
<% end %>
