<% content_for :header do %>
<h2>Sign up</h2>
<% end %>

<% content_for :content do %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
  <% end %>
  
  <p><%= f.label :email %>
  <%= f.email_field :email %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Sign up" %></p>
  <br/>
<% end %>

<p>Have an account? <%= link_to "Sign in here!", new_registration_path(resource_name) %></p>
<% end %>
