<div data-role="content">
  <h3><%= current_user.email %></h3>

  <div class="ui-body-d ui-body" data-role="navbar">
    <ul>
      <li>
        <div style="text-align:center; clear:both;"><span>1000</span></div>
        <div style="text-align:center; clear:both;"><span>problems</span></div>
      </li>
      <li><div style="text-align:center;">1000</div></li>
      <li><div style="text-align:center;">1000</div></li>
      <li><div style="text-align:center;">1000</div></li>
    </ul>
  </div><!-- /navbar -->

  <p>Problems solved: <%= current_user.total_problems_solved %>
  <%= link_to "Last gym", current_user.last_gym if current_user.last_gym %>
</div>

<div data-role="content">
  <ul data-role="listview">
    <li><%= link_to 'Start climbing', gyms_path, :"data-prefetch" => true %></li>
    <% if current_user.try(:admin?) %>
      <li><%= link_to 'Add a new problem (Admin only)', new_problem_path %></li>
      <li><%= link_to 'Add a new wall (Admin only)', new_wall_path %></li>
    <% end %>
  </ul>
</div>
