<%= form_for(@climbing_session) do |f| %>
  <% if @climbing_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@climbing_session.errors.count, "error") %> prohibited this climbing_session from being saved:</h2>

      <ul>
      <% @climbing_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :finish %><br />
    <%= f.datetime_select :finish %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
