<h1>Listing climbing_sessions</h1>

<table>
  <tr>
    <th>Start</th>
    <th>Finish</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @climbing_sessions.each do |climbing_session| %>
  <tr>
    <td><%= climbing_session.start %></td>
    <td><%= climbing_session.finish %></td>
    <td><%= link_to 'Show', climbing_session %></td>
    <td><%= link_to 'Edit', edit_climbing_session_path(climbing_session) %></td>
    <td><%= link_to 'Destroy', climbing_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Climbing session', new_climbing_session_path %>
