<%= form_for(@wall) do |f| %>
  <% if @wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% @wall.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, :id => "wall-name", :placeholder => "Wall name" %>
  </div>
  <div class="field">
    <%= f.text_field :height, :id => "wall-height", :placeholder => "Wall height" %>
  </div>
  <div class="field">
    <%= f.collection_select :gym_id, @gyms, :id, :name, :id => "gym_select", :prompt => "Select a gym" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
