      <li data-icon="check">
      
        <a id=<%= "problem_#{problem.id}" %>>
          <img class="ui-li-icon">
          <h3><%= problem.name %></h3>
          <p class="last_complete"><%= show_last_completed_problem_for_user(current_user, problem) %></p>
          <p class="ui-li-aside difficulty"><strong><%= problem.difficulty %></strong></p>
        </a>
        
        <script type="text/javascript"> 
          $(<%= "'#problem_#{problem.id}'" %>).live('vclick', function() {
          $(this).simpledialog({
            'mode' : 'bool',
            'prompt' : <%= "'You just climbed #{problem.name}?'" %>,
            'buttons' : {
              'Yeah!': {
                click: function () { 
                  $.ajax({
                    type: 'POST',
                    data: { problem_id: <%= problem.id %>},
                    success: function(response){
                      if (response.sign_in_needed) {
                        $.mobile.changePage(response.sign_in_needed, "slide", false, true);
                      } else {
                        $(<%= "'#problem_#{problem.id}'" %>).find('.last_complete').text("Nice job!");
                      }
                    },
                    error: function(response){
                    },
                    url: '/completed_problems.json'
                  });
                }
              },
              'Nope': {
                click: function(){},
                icon: "delete",
                theme: "c"
              }
            }
          })
        });
      </script>
      
      </li>
