<li data-icon="check">
<%= link_to(
  url_for(
    :controller => 'completed_problems',
    :action => 'create',
    :problem_id => "#{problem.id}"),
  {:class => "wall_problem",
  :id => "problem_#{problem.id}",
  :confirm => "Just climbed the #{problem.name} problem?",
  :remote => true,
  :"data-type" => "json",
  :method => "POST"}) do %>

    <div class="problem_colors"> 
    <% if problem.color_three %>
      <div class="problem_stripe" style="width: 34%; background: <%= Color::CHOICES[problem.color_one]["hex"] %>;"></div>
      <div class="problem_stripe" style="width: 34%; background: <%= Color::CHOICES[problem.color_two]["hex"] %>;"></div>
      <div class="problem_stripe" style="width: 34%; background: <%= Color::CHOICES[problem.color_three]["hex"] %>;"></div>
    <% elsif problem.color_two %>
      <div class="problem_stripe" style="width: 50%; background: <%= Color::CHOICES[problem.color_one]["hex"] %>;"></div>
      <div class="problem_stripe" style="width: 50%; background: <%= Color::CHOICES[problem.color_two]["hex"] %>;"></div>
    <% else %>
      <div class="problem_stripe" style="width: 100%; background: <%= Color::CHOICES[problem.color_one]["hex"] %>;"></div>
    <% end %>
    </div>

    <div class="problem_text">
      <h3><%= problem.name %></h3>
      <p class="last_complete"><%= "#{time_ago_in_words(current_user.time_of_last_completion_of_problem(problem))} ago" if current_user && current_user.time_of_last_completion_of_problem(problem) %></p>
    </div>
    
    <p class="ui-li-aside difficulty"><strong><%= problem.difficulty %></strong></p>
  
<% end %>

</li>
