%li{:"data-icon" => "check"}
  = link_to(url_for(:controller => "completed_problems", :action => "create", :problem_id => "#{problem.id}"),
    {:class => "wall_problem #{"solved" if current_user && problem.solved(current_user)}",
    :id => "problem_#{problem.id}",
    :confirm => "Just climbed the #{problem.name} problem?",
    :remote => true,
    :"data-type" => "json",
    :method => "POST"}) do

    .problem_colors
      - if problem.color_three
        .problem_stripe{:style => "width: 34%; background: #{Color::CHOICES[problem.color_one]["hex"]}"}
        .problem_stripe{:style => "width: 34%; background: #{Color::CHOICES[problem.color_two]["hex"]}"}
        .problem_stripe{:style => "width: 34%; background: #{Color::CHOICES[problem.color_three]["hex"]}"}
      - elsif problem.color_two
        .problem_stripe{:style => "width: 50%; background: #{Color::CHOICES[problem.color_one]["hex"]}"}
        .problem_stripe{:style => "width: 50%; background: #{Color::CHOICES[problem.color_two]["hex"]}"}
      - else
        .problem_stripe{:style => "width: 100%; background: #{Color::CHOICES[problem.color_one]["hex"]}"}

    .problem_text
      %h3= problem.name
      %p.last_complete= "#{time_ago_in_words(current_user.time_of_last_completion_of_problem(problem))} ago" if current_user && current_user.time_of_last_completion_of_problem(problem)
    
    %p.ui-li-aside.difficulty
      %strong= problem.difficulty
