- content_for :header do
  %h1= @wall.gym.name

- content_for :content do
  %div{:"data-role" => "content"}
    %ul{:"data-role" => "listview"}
      - if current_user.try(:admin?)
        %li= link_to "Add anew problem (Admin only)", new_wall_problem_path(@wall)

      %li{:"data-role" => "list-divider"}= @wall.name
      = render :partial => 'problem', :collection => @wall.live_problems.sort

      - if current_user.try(:admin?)
        %li= link_to "Clear wall (Admin only)", clear_wall_url(@wall.id), :method => :post

  :javascript
    $('.wall_problem').live('ajax:success', function(evt, data, status, xhr) {
      if (data.sign_in_needed) {
        $.mobile.changePage(data.sign_in_needed, "slide", false, true);
      } else {
        link_id = 'a#problem_' + data.problem_id;
        $('ul').find(link_id).find('.last_complete').text("Nice job!");
        return false;
      }
    });
