<% content_for :header do %>
  <h1><%= @wall.gym.name %></h1>
<% end %>

<% content_for :content do %>
  <div data-role="content">
  <ul data-role="listview">
    
    <% if current_user.try(:admin?) %>
      <li><%= link_to 'Add a new problem (Admin only)', new_wall_problem_path(@wall) %></li>
    <% end %>

    <li data-role="list-divider"><%= @wall.name %></li>
    <%= render :partial => 'problem', :collection => @wall.live_problems.sort %>
  <% if current_user.try(:admin?) %>
    <li>
    <%= link_to "Clear Wall (Admin Only)", clear_wall_url(@wall.id), :method => :post %>
    </li>
  <% end %>
</ul>
</div>
<% end %>
