<!DOCTYPE html>
<html>
  
<head>
  <title>The Top Out</title>
  
  <%= stylesheet_link_tag "application" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.css" />
  <link type="text/css" href="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css" rel="stylesheet" /> 
  <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:700' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.js"></script>
  <script type="text/javascript" src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.js"></script>  
  <%= csrf_meta_tag %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div data-role="page">

    <div data-role="header">
      <div>
        <%= link_to root_path do %>
          <h2 id="home-title">The Top Out</h2>
        <% end %>
      </div>
      
      <% if current_user %>
        <%= link_to "Sign out", destroy_user_session_path, :class => "ui-btn-right button", :id => "sign-in-out" %>
      <% else %>  
        <%= link_to_unless_current "Sign in", new_user_session_path, :class => "ui-btn-right button", :id => "sign-in-out" do end%>
      <% end %>  
      <%= yield :navbar %>
    </div>

    <div data-role="content">
      <% if not flash.empty? %>
        <ul>
        <%- flash.each do |name, msg| -%>
          <%= content_tag :li, msg, :id => "flash_#{name}", :"data-role" => "list-divider" if msg.is_a?(String) %>
        <%- end -%>
        </ul>
      <% end %>
      
      <%= yield :content %>
    </div>

    <div data-role="footer">
      <h5 id="footer-text">This site is in alpha. Please be gentle.</h5>
    </div>

  </div>
</body>

</html>
