<!DOCTYPE html>
<html>
  
<head>
  <title>The Top Out</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.css" />
  <link type="text/css" href="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css" rel="stylesheet" /> 
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.js"></script>
  <script type="text/javascript" src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.js"></script>  
  <%= csrf_meta_tag %>
</head>

<body>

  <div data-role="page">

    <div data-role="header">
      <%= yield :header %>
    </div>

    <div data-role="content">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>
      <%= yield :content %>
    </div>

    <div data-role="footer">
      <% if current_user %>
        <%= link_to "Sign Out", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>

  </div>
</body>

</html>
